{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>No Agenda Shownotes Search</title>
    <link rel="stylesheet"
        href="{% static "shownotes/css/bootstrap.css" %}">
    <link rel="stylesheet"
        href="{% static "shownotes/css/style.css" %}">
    <link rel="stylesheet"
        href="{% static "shownotes/css/typeahead.css" %}">
    <script id="topic-list-template" type="text/html">
        {% include "mustache/mustache-topic-popup.html" %}
    </script>
    <script id="topic-selected-template" type="text/html">
        {% include "mustache/mustache-topic-selected.html" %}
    </script>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"
                href="#">NA Shownote Search (Beta)</a>
            <span class="nav navbar-text">
            (fork me or report issues on
            <a href="https://github.com/lifenoodles/nasearch">github</a>)
            </span>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon front-label">Text</span>
                <input id="search-field" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div id="top-input" class="input-group">
            <span class="input-group-addon front-label">Topic Filters</span>
            <input data-toggle="dropdown" id="topic-field" type="text" class="form-control">
            <span class="input-group-btn">
                    <button id="search-button" class="btn btn-primary" type="button">Search</button>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="selected-topics">
                <span class="topic-suggestion fake-suggestion invisible">Topic</span>
            </div>
        </div>
    </div>
</div>

<div id="content" class="container">
<p>Welcome to the No Agenda Shownote Search! Just enter a search term and optionally select 1 or more topic filters. You can narrow down the topic list by just typing in the text field. If you want to see all notes for a set of topics leave the text search field blank and select the topics you want to display.</p>
<p><b>Disclaimer</b>: We're still pulling in old episodes pre episode 490 and there is no guarantee that everything will be in here due to occasional issues with extracting text from the main shownote pages.</p>
</div>

<div class="container">
<div class="row text-center">
<button id="load-button" type="button" class="btn btn-primary not-visible">Load More</button>
</div>
</div>

    <script src="{% static "shownotes/js/jquery-1.11.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "shownotes/js/bootstrap.js" %}" type="text/javascript"></script>
    <script src="{% static "shownotes/js/mustache.js" %}" type="text/javascript"></script>
    <script src="{% static "shownotes/js/shownotes.js" %}" type="text/javascript"></script>
</body>
</html>

