{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>No Agenda Shownotes Search</title>
    <link rel="stylesheet"
        href="{% static "shownotes/css/bootstrap.css" %}">
    <link rel="stylesheet"
        href="{% static "shownotes/css/style.css" %}">
    <link rel="stylesheet"
        href="{% static "shownotes/css/typeahead.css" %}">
    <script id="topic-list-template" type="text/html">
        {% include "mustache/mustache-topic-popup.html" %}
    </script>
    <script id="topic-selected-template" type="text/html">
        {% include "mustache/mustache-topic-selected.html" %}
    </script>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"
                href="#">Shownote Search</a>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon front-label">Containing Text</span>
                <input id="search-field" type="text" class="form-control">
                <span class="input-group-btn">
                    <button id="search-button" class="btn btn-default" type="button">Search</button>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="input-group">
            <span class="input-group-addon front-label">Topic Filters</span>
            <input data-toggle="dropdown" id="topic-field" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="selected-topics">
                <span class="topic-suggestion fake-suggestion invisible">Topic</span>
            </div>
        </div>
    </div>
</div>

<div id="content" class="container">

</div>

    <script src="{% static "shownotes/js/jquery-1.11.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "shownotes/js/bootstrap.js" %}" type="text/javascript"></script>
    <script src="{% static "shownotes/js/mustache.js" %}" type="text/javascript"></script>
    <script src="{% static "shownotes/js/shownotes.js" %}" type="text/javascript"></script>
</body>
</html>

