{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shownote search for the No Agenda Show"/>
    <title>No Agenda Shownote Search</title>
    <link rel="stylesheet"
        href="{% static "shownotes/css/bootstrap.css" %}">
    <link rel="stylesheet"
        href="{% static "shownotes/css/style.css" %}">
    <link rel="stylesheet"
        href="{% static "shownotes/css/typeahead.css" %}">
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"
                href="#">NA Shownote Search</a>
            <span class="nav navbar-text">
            (fork me or report issues on
            <a href="https://github.com/lifenoodles/nasearch">github</a>)
            </span>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon front-label">Text</span>
                <input id="search-field" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon front-label">From Show</span>

                <input id="show-from" type="text" class="form-control" placeholder="{{ show_number_min }}">
            <span class="input-group-addon front-label">To Show</span>
                <input id="show-to" type="text" class="form-control" placeholder="{{ show_number_max }}">
            </div>
        </div>

        <div class="row">
            <div id="top-input" class="input-group">
            <span class="input-group-addon front-label">Topic Filters</span>
            <input data-toggle="dropdown" id="topic-field" type="text" class="form-control">
            {% include "topic-popup.html" %}
            <span class="input-group-btn">
                    <button id="search-button" class="btn btn-primary" type="button">Search</button>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="selected-topics">
                {% include "topic-selected.html" %}
                <span class="topic-suggestion fake-suggestion invisible">Topic</span>
            </div>
        </div>
    </div>
</div>

<div id="content" class="container">
<p>Welcome to the No Agenda Shownote Search! Just enter a search term and optionally select 1 or more topic filters. You can narrow down the topic list by just typing in the text field. If you want to see all notes for a set of topics leave the text search field blank and select the topics you want to display.</p>
<p><b>Disclaimer</b>: Older episodes pre episode 490 have not yet been parsed and likely won't be any time soon due to a complete lack of free time.</p>
<p>If you are interested in helping out with parsing out some of the older shownotes or contributing any feature enhancements you'd like to see in the Shownote Search then hit me up on GitHub and I'll be happy to point you in the right direction.</p>
</div>

<div class="container">
<div class="row text-center">
<button id="load-button" type="button" class="btn btn-primary not-visible">Load More</button>
</div>
</div>

    <script src="{% static "shownotes/js/jquery-1.11.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "shownotes/js/bootstrap.js" %}" type="text/javascript"></script>
    <script src="{% static "shownotes/js/mustache.js" %}" type="text/javascript"></script>
    <script src="{% static "shownotes/js/shownotes.js" %}" type="text/javascript"></script>
</body>
</html>
