{% if results %}
<ul class="list-unstyled">
{% autoescape off %}
{% for result in results %}
<div>
<div class="shownote-heading-div bg-info">
<li class="shownote-heading pointer">
<div class="row">
<div class="col-md-10"><span class="caret"></span>[{{ result.show_number }}] {{ result.title }}</div><div class="col-md-2 text-right">{{ result.topic_name }}</div>
</div>
</li>
</div>
<div class="not-visible bg-grey shownote-entries">
<ul class="list-unstyled icon-list chevron-right">
    {% for entry in result.url_entries %}
        <li><a href={{ entry }}>{{ entry }}</a></li>
    {% endfor %}
    {% if result.text_entry %}
        <li>{{ result.text_entry }}</li>
    {% endif %}
</ul>
</div>

</div>
{% endfor %}
{% endautoescape %}
</ul>
{% endif %}
