{% include "topic-size-warning.html" %}
<div>
<ul class="list-unstyled">
{% autoescape off %}
{% for result in results %}
<div>
<div class="shownote-heading-div bg-info">
<li class="shownote-heading pointer">[{{ result.show_number }}] {{ result.text }}
<span class="caret"></span>
<span class="right">{{ result.topic_name }}</span></li>
</div>
<div class="not-visible bg-grey shownote-entries">
<ul class="list-unstyled icon-list chevron-right">
    {% for entry in result.url_entries %}
        <li><a href={{ entry }}>{{ entry }}</a></li>
    {% endfor %}
    <li>{{ result.text_entry }}</li>
</ul>
</div>

</div>
{% endfor %}
{% endautoescape %}
</ul>
</div>
