.pointer {
    cursor: pointer;
}

.not-visible {
    display: none;
}

li {
    padding: 4px;
}

.bg-grey {
    background-color: #F6F6F6;
}

.show-title {
    margin-top: 1em;
}

.shownote-heading {
    margin: 0 0 6px 0;
}

.stacker {
    position: absolute;
    right: 0;
    z-index: 100;
}

.selected-topics {
    float: right;
    width: 100%;
}

/* topic dropdown menu */
.topic-dropdown {
  right: auto;
  left: auto;
  max-width: 200px;
}

.topic-suggestion {
  margin: 5px;
  padding: 2px 5px;
  background-color: #B6E6E6;
  border-color: #B6E6E6;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  float: left;
}

.fake-suggestion .invisible{
  float: left;
}

/* overriding bootstrap */
.jumbotron {
    margin-bottom: 10px;
}

.bg-primary a {
    color: orange;
}

/* overriding typeahead */
.twitter-typeahead {
    width: 100% !important;
}

.typeahead {
    float: none !important;
}

/* styles for icons in lists */
.icon-list li {
  padding: 0 0 5px 20px;
  display: block;
  position: relative;
}

.icon-list li:before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 80%
}

.chevron-right li:before {
 content: '\e080';
}

.right {
    float: right;
}
