.caret {
  margin-right: 6px;
}

.padded {
  margin: 6px;
}

.pointer {
    cursor: pointer;
}

.not-visible {
    display: none;
}

li {
    padding: 4px 4px 0 4px;
}

ul {
  margin-bottom: 0px;
}

.bg-grey {
  background-color: #F6F6F6;
}

.click-close:hover {
  background-color: #E2E2E2;
}

.show-title {
  margin-top: 1em;
}

.shownote-heading {
  margin: 0 0 0 0;
}

.stacker {
  position: absolute;
  right: 0;
  z-index: 100;
}

.selected-topics {
  float: right;
  width: 100%;
}

/* topic dropdown menu */
.topic-dropdown {
  right: auto;
  left: auto;
  max-width: 65%;
}

.topic-data {
  max-height: 400px;
  overflow: scroll;
}

.topic-suggestion {
  margin: 5px;
  padding: 2px 5px;
  border-radius: 5px;
  float: left;
  cursor: pointer;
}

.fake-suggestion .invisible{
  float: left;
}

/* overriding bootstrap */
.jumbotron {
  margin-bottom: 10px;
}

.bg-primary a {
  color: orange;
}

/* styles for icons in lists */
.icon-list li {
  padding: 0 0 5px 20px;
  display: block;
  position: relative;
}

.icon-list li:before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 80%
}

.chevron-right li:before {
 content: '\e080';
}

.right {
  float: right;
}

.highlighted {
  font-weight: bold;
}

.listen-link {
  margin-right: 4px;
}

.left-spacing {
  margin-left: 4px;
}

.link-icon {
  color: inherit;
}

.link-icon:hover {
  color: inherit;
}
