.pointer {
    cursor: pointer;
}

.not-visible {
    display: none;
}

li {
    padding: 4px;
}

.bg-grey {
    background-color: #F6F6F6;
}

.show-title {
    margin-top: 1em;
}

.shownote-heading {
    margin: 0 0 6px 0;
}

/* topic dropdown menu */
.topic-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: block;
  right: auto;
}

.topic-suggestion {
  display: block;
}

/* overriding bootstrap */
.jumbotron {
    margin-bottom: 10px;
}

.bg-primary a {
    color: orange;
}

/* overriding typeahead */
.twitter-typeahead {
    width: 100% !important;
}

.typeahead {
    float: none !important;
}

/* styles for icons in lists */
.icon-list li {
  padding: 0 0 5px 20px;
  display: block;
  position: relative;
}

.icon-list li:before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 80%
}

.chevron-right li:before {
 content: '\e080';
}
